page-diagnosis
{
	
ion-multi-picker 
{
	background-color:#6E7889;
	color: #6495ED;
}

.label-picker
{
	background-color: #6E7889;
}

.button-next
{
	background-color: #000080; //bar that button is in
}

.item-md .item-button, .item-ios .item-button
{
	height: 80px;
	width: 300px;
	font-size: 3rem;
	background: #6495ED; //beige

}

ion-icon {
    display: inline-block;
    font-size: 2.5em;
    font-weight: bold;
    color: white;
}

.item-block
{
	min-height: 8rem;
	font-weight: bold;
}


ion-label
{
	font-size: 2.5rem;
	color: white;
}

h1
{	
	font-size: 3rem;
	font-weight: bold;
	text-align: center;
	color: #393b45;
}

.content-md, .content-ios
{
	background-color: #d8d9de;
}

ion-row, ion-col
{
	background: #bccad6;
}

}