page-diagnosis
{
	
ion-multi-picker 
{
	color: black;

}

.label-picker
{
	background-color: white; //color of the data bars
}

.button-next
{
	background-color: #000080; //bar that button is in
}

.item-md .item-button, .item-ios .item-button
{
	height: 80px;
	width: 300px;
	font-size: 3rem;
	//background: #9BC4E2; //light blue
	//background: white;
	position: relative;
	left: 15%;
}

ion-icon {
    
    font-size: 2.5em;
    //font-weight: bold;
    color: white;
}

.item-block
{
	min-height: 8rem;
	font-weight: bold;
}


ion-label
{
	font-size: 2.5rem;
	color: black;
}

h1
{	
	font-size: 3rem;
	font-weight: bold;
	text-align: center;
	color: white;
}


ion-row, ion-col
{
	background: #bccad6;
}

   .item-ios.item-block .item-inner
    {
        border-bottom: 0;
    }



}