
page-priorities
{
    h4 {
        color:white;
        font-weight: bold;
    }

    ion-label 
    {
        font-weight: bold; //font of the item boxes, inherti from ion-label for some reason
    }

    .button-next //bar that the buttons are in
    {
        background-color: #000080;
    }

    .textbox-header //question about textarea
    {
        color: white;
        font-size: 18px;
    }

    .radio-md, .radio-ios //controls entire button i think
    {
        position: relative !important;
        right: 46% !important;
        height: 40px;
        width: 40px;
    }

    .radio-md .radio-icon, .radio-ios .radio-icon //circle of button
    {
        height: 40px;
        width: 40px; 
    }

    .radio-md .radio-inner, .radio-ios .radio-inner //inside of button when check
    {
        position:absolute;
        left: -1px;
        top: -1px;
        height: 38px;
        width: 38px
    }

    .item-md .item-button, .item-ios .item-button { //nav buttons
        height: 80px;
        width: 300px;
        font-size: 3rem;
        position:relative;
        color: white;
        margin: 0;
    }

    .list-ios
    {
        margin-bottom: 0px; //to get the space between the buttons and the text area to be smaller
    }

    .subheader
    {
        text-align:center;
    }

     .item-md.item-block .item-inner, .list-ios .item-block .item-inner //to get the bottom bar to be full on ion-item
    {
        border-bottom: 0;
    }

    .item-ios.item-block .item-inner
    {
        border-bottom: 0;
    }



    ion-icon { //icon in buttons
        display: inline-block;
        font-size: 2.5em;
        //font-weight: bold;
    }

}